.footer ul li {
  display: inline;
  list-style-type: none;
}
.footer ul {
  text-align: left;
  padding: 0;
  margin: 0;
}
.footer a, a:link, a:active, a:focus, a:hover, a:visited{
  text-decoration: none;
  color: inherit;
  background-color: #E4ABA7;
  border-radius: 5px;
  padding: 5px;

}

.legal p {
  margin: 3px;
  padding: 2px;
  text-align: center;
}
.legal div {
  text-align: center;
}




